.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  
    .title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: center;
      color: #333;
      font-weight: bold;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .label {
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 0.5rem;
        text-align: left;
        color: #333;
        font-weight: bold;
      }
  
      .input {
        font-size: 1rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        width: 100%;
      }
  
      .button {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 2rem;
        border: none;
        color: #fff;
        cursor: pointer;
        background-color: #FF5A5F;
  
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  